.footer {
  padding: 76px 0;
  border-radius: 30px;
  background-color: #fff;
}

.footer__text-one {
  margin-bottom: 66px;
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.05px;
}

.footer__text-two {
  color: grey;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
}