.header {
  position: relative;
  background-image: url(../img/header-prev-img/Rectangle\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
}

.menu__top-line {
display: flex;
align-items: center;
justify-content: space-between;
width: 1100px;
}

.header__box-logo {
  margin: 36px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;


  width: 130px;
  height: 39px;
  background-color: black;
  border-radius: 100px;
}

.header__logo-text {
  margin-left: -9px;

  color: rgb(23, 202, 23);
  font-size: 36px;
  font-weight: 700;
}

.header_nav-list {
  margin: 33px 0 0 0;
  display: flex;
  align-items: center;
  float: right;
  gap: 50px;
}

.header__nav-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  text-align: left;
}

.header__nav-item:hover {
  color: rgb(23, 202, 23);
}


.header__text-info {
  margin: 252px 0 0 0;
  position: absolute;
}
.header__text-one {
  width: 430px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.header__text-two {
  margin: 29px 0 0 0;

  width: 919px;
  color: rgb(23, 202, 23);
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
  text-align: left;
}