.skills {
  margin-bottom: 150px;
}

.skills-title {
  margin-bottom: 50px;
  font-size: 55px;
  line-height: 71.5px;
}

.skills__flexbox {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
flex-direction: row;
row-gap: 40px;
}

.skills-contant-item {
  width: 560px;
}

.skills-img {
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  border-radius: 10px;
}

.skills-text-one {
  margin-bottom: 15px;
  color: rgb(23, 202, 23);
  font-size: 35px;
  line-height: 45.5px;
}

.skills-text-margin {
  margin-bottom: 60px;
}

.skills-text-two {
  font-size: 22px;
  line-height: 28.6px;
}
