/* @font-face {
  src: url(../font/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
  src: url(../font/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
  font-family: "IBMPlexMono-Regular.ttf", "IBMPlexMono-Bold.ttf";
} */

@font-face {
  src: url(../font/IBMPlexMono-Regular.ttf);
  font-family: "IBMPlexMono-Regular.ttf";
}

html {
  scroll-behavior: smooth;
  font-family: "IBMPlexMono-Regular.ttf", sans-serif;
  color: #fff;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  background-color: black;
}


/* --------------------хедер------------------- */
.header {
  position: relative;
  background-image: url(../img/header-prev-img/Rectangle\ 1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 100%;
}

.header__box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: 36px 0 0 0;

  width: 130px;
  height: 39px;
  background-color: black;
  border-radius: 100px;
}

.header__logo-text {
  margin-left: -9px;

  font-family: "IBMPlexMono-Bold.ttf", sans-serif;
  color: rgb(23, 202, 23);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.11em;
}

.header_nav-list {
  margin: 33px 0 0 0;
  display: flex;
  float: right;
  gap: 50px;
}

.header__nav-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: -0.03em;
  text-align: left;
}

.header__nav-item:hover {
  color: rgb(23, 202, 23);
}

.header__text-one {
  position: absolute;
  margin: 334px 0 0 0;

  width: 430px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.03em;
  text-align: left;
}

.header__text-two {
  position: absolute;
  margin: 466px 0 0 0;

  width: 919px;
  color: rgb(23, 202, 23);
  font-size: 80px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: -0.03em;
  text-align: left;
}

/* -------------1 страница----------------- */

.main__1 {
  padding-top: 150px;
  margin-bottom: 150px;
}

.main__1-title {
  margin-bottom: 40px;
  font-size: 55px;
  font-weight: 400;
  line-height: 71.5px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__1-contant-item:last-child {
  margin-bottom: 80px;
} 

.main__1-contant-img {
  border-radius: 35px;
  height: 550px;
}

.main__1-text-one {
  position: absolute;
  padding: 410px 0 0 50px;

  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__1-text-two {
  position: absolute;
  padding: 460px 0 0 50px;

  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__1-btn {
  display: block;
  border: 1px solid rgb(23, 202, 23);
  width: 582px;
  height: 153px;
  text-align: center;
  border-radius: 20px;
  padding-top: 56px;
  font-size: 30px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: -0.03em;
  text-align: center;
  background-color: rgb(23, 202, 23);
}

.main__1-btn:hover {
  color: rgb(23, 202, 23);
  background-color: black;
}

/* -----------------2 сраница------------ */
.main__2 {
  margin-bottom: 150px;
}

.main__2-title {
  margin-bottom: 50px;
  font-size: 55px;
  font-weight: 400;
  line-height: 71.5px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__2-contant-item {
  margin-bottom: 60px;
}

.main__2-img {
  margin-bottom: 12px;
  width: 45px;
  height: 44px;
  border-radius: 10px;
}

.main__2-text-one {
  margin-bottom: 15px;
  color: rgb(23, 202, 23);
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: -0.03em;
}


.main__2-text-one-2 {
  padding-right: 460px;
}

.main__2-text-two {
  /* margin-bottom: 60px; */
  width: 778px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: -0.03em;
}

/* --------------3 страница---------------- */


.main__3 {
  margin-bottom: 150px;
}

.main__3-title {
  width: 403px;
  margin-bottom: 75px;
  font-size: 35px;
  font-weight: 400;
  line-height: 45.5px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__3-contant-item {
  margin-bottom: 74px;
}

.main__3-img {
  border-radius: 30px;
  width: 100%;
}

.main__3-contant-box {
  padding: 40px 40px 40px 40px;
  width: 100%;
  height: 283px;
  background-color: #191C19;
  border-radius: 30px;
}

.main__3-text-one {
  margin-bottom: 15px;
  color: rgb(23, 202, 23);
  font-size: 55px;
  font-weight: 400;
  line-height: 71.5px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__3-text-two {
  width: 749px;
  font-size: 22px;
  font-weight: 400;
  line-height: 28.6px;
  letter-spacing: -0.03em;
  text-align: left;
}

/* --------------4 страница-------------- */

.main__4 {
  margin-bottom: 150px;
  position: relative;
  background-color: #191C19;
  height: 717px;
  border-radius: 30px;
  background-image: url(../img/main__4-img/cuate.png);
  background-repeat: no-repeat;
  background-position: 100%;
}

.main__4-title {
  position: absolute;
  top: 320px;
  left: 10%;
  font-size: 35px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__4 a {
  display: block;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.03em;
  text-align: left;
}

.main__4 a:hover {
  color: rgb(23, 202, 23);
}

.main__4-list-link {
  position: absolute;
  top: 408px;
  left: 10%;
}


/* --------------футер ------------------------ */

.footer {
  padding: 76px 0;
  border-radius: 30px;
  background-color: #fff;
}

.footer__text-one {
  margin-bottom: 66px;
  color: black;
  font-size: 22px;
  font-weight: 400;
  line-height: 30.05px;
  letter-spacing: -0.03em;
  text-align: left;
}

.footer__text-two {
  color: grey;
  font-size: 20px;
  font-weight: 400;
  line-height: 27.32px;
  letter-spacing: -0.03em;
  text-align: left;
}